.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    
}

.dialog {
    margin: 20px;
}

.dialog a {
    text-decoration: none;
    color: #222823;
}

.dialog a.active {
    color: gold;
}


.messages {

}

.message {
    margin: 20px;
}