.nav {
    grid-area: n;
    background-color: #222823;
  }

.item {
  margin: 20px 0;
}
  
.item a {
    margin: 20px;
    color: #F4F7F5;
    text-decoration: none;
}

.item a.active {
  color: gold;
  border: 1px solid #F4F7F5;
  border-radius: 5px;
  padding: 10px;
}